.chats {
    height: 100%;
    width: 100%;
    /* border-right: 1px solid var(--main-border-color); */
    overflow-y: scroll;
    overflow-x: hidden;
}

.chats::-webkit-scrollbar {
    width: 0;
}

.header {
    top: 0;
    left: 0;
    position: sticky;
    background: var(--main-background-color);
    padding-bottom: 10px;
}

.top {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 24px;
    width: 24px;
    filter: invert(100%);
}

.name {
    display: flex;
    align-items: center;
    grid-gap: 5px;
}

.name h1 {
    font-size: 24px;
}

.button {
    height: 40px;
    width: 40px;
    background: var(--sub-accent-color);
    border-radius: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    filter: invert(100%);
}

.button:hover {
    cursor: pointer;
    background: var(--main-accent-color);
}

.button:active {
    background: var(--sub-accent-color);
}

.search {
    background: var(--main-accent-color);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.search input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 15px;
    font-family: 'Open Sans', sans-serif;
}

.users {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
}